.post {
  max-width: 20%;
  margin: 15px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.post:hover {
  background-color: rgb(241, 229, 51);
}

.post > img {
  width: 100px;
}

input {
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
}
